.container{
    background-color:#CDBB79;
    padding:20px;
    min-width:474px;
  }
  
  .gotMessage{
    background-color:#06425C;
    color:white;
    border:2px solid white;
  }

  .gotMessageDown{
    background-color:#425c06;
    color:white;
    border:2px solid white;
  } 

  input{
  font-weight:bold;
 }