<div class="container card"
	[ngClass]="{'gotMessage':upstream,'gotMessageDown':downstreamMessageGreatGrandparent && !upstream}">
	<div class="card-body">
		<h3 class="text-right"><span class="badge badge-secondary"><span class="badge badge-secondary">Subcriber:</span>Count: {{counterService.count$ | async}}</span></h3>
		<div class="card-title">
			<h5 class="font-weight-bold">GREAT-GRANDPARENT</h5>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text"><i class="fa fa-arrow-up fa-lg up" [ngClass]="{'highlighted':upstream}"></i></span>
				</div>
				<input type="text" class="form-control" [(ngModel)]="message">
				<div class="input-group-prepend">
					<span class="input-group-text bg-info"><i class="fa fa-arrow-down fa-lg down" [ngClass]="{'highlighted':!upstream && isSendMessageDownButtonClicked}"></i></span>
				</div>
				<input type="text" class="form-control" [(ngModel)]="downstreamMessageGreatGrandparent">
				<div class="input-group-append">
					<button type="button" class="btn btn-info" (click)="handleClick($event)">Send Data Down            
          </button> </div>
			</div>
      <app-count [parentComponentName]="componentName"></app-count>
			<app-grandparent [isSendMessageDownButtonClicked]="isSendMessageDownButtonClicked"
				[messageFromParent]="downstreamMessage" (passDataToGreatGrandParent)="handleData($event)">
			</app-grandparent>
		</div>
	</div>
</div>