<div class="input-group mb-3 test">
  <div class="input-group-prepend" [ngClass]="{}">
		<span class="input-group-text"><span class="font-weight-bold">Subscriber</span></span>
	</div>
	<input type="text" class="form-control font-weight-bold" [ngModel]="counterService.count$ | async">

	<div class="input-group-append">
		<button (click)="incrementCount()" class="input-group-text"><i class="fa fa-plus fa-lg" [ngClass]="{'highlighted':upstream}"></i></button>
		<button (click)="decrementCount()" class="input-group-text"><i class="fa fa-minus fa-lg" [ngClass]="{'highlighted':!upstream && isSendMessageDownButtonClicked}"></i></button>
	</div>
</div>

<!-- <div style="position:relative;bottom:45px">
<svg height="10" width="800">
  <line x1="0" y1="0" x2="400" y2="0" style="stroke:rgb(255,0,0);stroke-width:2;" />
  Sorry, your browser does not support inline SVG.
</svg>
</div> -->

