<h1 class="text-center pb-4 pt-3">Angular Passing State with Input Output / Angular State Management with RxJS Behavior Subject</h1>
<div style="height:88px;" class="text-center mb-4 bg-info"><h1>Service Layer</h1><h3 id="service-layer-message" class="text-light duration-.25 delay-.5s">{{counterService.serviceLayerMessage$ | async }}</h3></div>
<app-great-grandparent>
</app-great-grandparent>
<img style="position:absolute; top:1045px;left:1533px;" src="https://cdn.jsdelivr.net/gh/acaroselli1/nesting-input-output-vs-behavior-subject@master/src/BigKaEXjT.png">
<!-- <canvas #canvas style="position:absolute;top:0;left:0;"></canvas> -->