<div id="great-grandchild" class="container card"
	[ngClass]="{'gotMessage':upstream,'gotMessageDown':messageFromParent && !upstream}">
	<div class="card-body">
		<div class="card-title">
			<h5 class="font-weight-bold">GREAT-GRANDCHILD{{' #' + instanceNumber}} </h5>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text bg-info"><span class="font-weight-bold">@Output&nbsp;</span><i class="fa fa-arrow-up fa-lg up" [ngClass]="{'highlighted':upstream}"></i></span>
				</div>
				<input type="text" class="form-control" [(ngModel)]="message">
				<div class="input-group-prepend">
					<span class="input-group-text"><span class="font-weight-bold">@Input&nbsp;</span><i class="fa fa-arrow-down fa-lg down" [ngClass]="{'highlighted':!upstream && isSendMessageDownButtonClicked}"></i></span>
				</div>
				<input type="text" class="form-control" [(ngModel)]="messageFromParent">
				<div class="input-group-append">
					<button type="button" class="btn btn-info" (click)="handleClick($event)">Send Data Up
          </button> </div>
			</div>
      <div style="position:relative">
			<app-count [parentComponentName]="formatName(componentName)"></app-count>
      <app-arrows *ngIf="formatName(componentName) === (counterService.activeComponent$ | async)" [dataUpArrow]="'m0, 250 l255,0 v-150'" [dataDownArrow]="'m40, 262 l150,0 v-245'"></app-arrows>
		</div>
	</div>